<li class='form-group'>
	<div>
		<b><span><%=luser.login%></span></b>
		<% if (luser.firstname || luser.secondname) { %>
			<span class='small'><%=luser.firstname%> <%=luser.secondname%></span>
		<% } %>
	</div>
	<div class='small'>
		<a href='/catalog/<%=luser.id%>'>Каталог пользователя</a>
	</div>
	<% if (user.admin) { %> 
		<div class='small'>
			Последняя активность: <%=luser.lastActivity%> 
			<a href='/user/<%=luser.id%>/delete'>Удалить</a>, 
			<a href='/user/<%=luser.id%>/passw'>Новый пароль</a>
		</div>
	<% } %>
</li>