<!DOCTYPE html>
<html>
<head>
	<title>Личный песенник</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/st.css">
	<script src="/bootstrap/js/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>	
	<script src="/nicEdit/nicEdit.js"></script>
	<%-scripts%>
	<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() { 
        	new nicEditor({
        		iconsPath: '/nicEdit/nicEditorIcons.gif'
        	}).panelInstance('text1');
        });
  //]]>
  </script>
  	<script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
  	<script type="text/javascript">
  		window.tinymce = tinymce;

  		window.songText = tinymce.createEditor("songText", {
  			selector: "#text"
  		});

  		tinymce.init({
  			selector: "#text"
  		});
  	</script>
</head>
<body>
<% if (!user) { %>
	<div class='panel panel-default' style='background: #428bca; color: #fff'>
		<div class='panel-body'>
			<p>Для использования сервиса необходима авторизация.</p>
			<p>Если у вас еще не было учетной записи на сервисе, введите желаемые логин и пароль и учетная запись будет автоматически зарегистрирована.</p>
			<form class="form-inline" role="form" method="POST" action="/user/login">
			  <div class="form-group">
			    <input type="text" name='login' class="form-control" placeholder="Ваш логин">
			    <input type="password" name="password" class="form-control" placeholder="Пароль">
			  </div>

			  <button type="submit" class="btn btn-default">Войти</button>
			</form>
		</div>
	</div>
<% } else { %>
	<div style='background: #428bca;color:#fff;padding:5px;height: 45px;margin-bottom: 20px;'>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-3'>
					<div style='float: left;margin-right: 20px;line-height: 35px;'>
						<a href='/user/logout' style='color:#fff' title='Покинуть учетную запись'>
							<span class='glyphicon glyphicon-log-out'></span>
						</a>
					</div>
					<div style='float: left;line-height: 35px;'>
						Привет, <%=(user.firstname?(user.firstname+" "+user.secondname):(user.login))%>!
					</div>
				</div>
				<div class='col-md-9'>
					<form class='form-inline' method='GET' action="/catalog/<%=(owner)?owner.id:user.id%>/search">
						<div class='form-group' style='float: right'>
							<label for='search'>
								<% if (owner && owner.id!=user.id) { %> 
									Поиск по каталогу <%=owner.login%>
								<% } else { %>
									Поиск по вашему каталогу
								<% } %>
							</label>
							<input name='q' class='form-control col-ms-9' id='search' type='text' placeholder='Название или автор'>
							<button type='submit' class='btn btn-default'>
								<span class='glyphicon glyphicon-search'></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
<% } %>

<% if (user) { %>
<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-3'>
			<div class="panel panel-default">
			  <div class="panel-heading">Пользовательское меню</div>
			  <div class="panel-body">
			    <ul class='nav nav-pills nav-stacked'>
					<li><a href='/sing/new'>Добавить песню</a></li>
					<li><a href='/catalog'>Мой каталог</a></li>
					<li><a href='/user/list'>Все пользователи</a></li>
					<li>&nbsp;</li>
					<li><a href='/user/addinfo'>Изменить профиль</a></li>
					<li><a href='/user/newpassword'>Поменять пароль</a></li>
				</ul>
			  </div>
			</div>
			<% if (user.admin) { %> 
				<div class="panel panel-default">
				  <div class="panel-heading">Меню администратора</div>
				  <div class="panel-body">
				    <ul class='nav nav-pills nav-stacked'>
						<li><a href='#'>Ничего не делать</a></li>
					</ul>
				  </div>
				</div>
			<% } %>
		</div>
		<div class='col-md-9'>
			<%-body%>
		</div>
	</div>
</div>
<% } else { %>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-md-10 col-md-offset-1'>
				<div class="jumbotron">
				  <h1>Что это?</h1>
				  <p>Перед вами сайт от друга и для друзей. Каждый, кто играет на гитаре и хочет иметь в одном месте все любимые песни, может пользоваться данным сервисом.</p>
				  <p>Добавляйте песни, редактируйте их, создавайте отдельные сборники из песен, копируйте песни у друзей и распечатывайте их в удобном формате. И все это в одном месте!</p>
				  <p align="right">
				  	Евгений
				  </p>
				</div>
			</div>
		</div>
	</div>
<% } %>
</body>
</html>