<%layout('layout')%>
<div class="page-header">
  <h3><%=sing.name%> <small><%=sing.author%></small></h3>
  Владелец: <b><%=sing.user%></b>
  <% if (sing.createdAt) { %>
  	<br>Добавлена: <%=sing.createdAt.format('dd mmm yyyy, HH:mm')%>
  <% } %>
  <% if (sing.copylink) { %>
  	<br>Оригинал: <a href='<%=sing.copylink%>'><%=sing.copylink%></a>
  <% } %>
  <br>
  <% if (sing.user_id == user.id) { %>
  	<a href='/sing/edit/<%=sing._id%>'>Редактировать</a>
  	<a href='/sing/delete/<%=sing._id%>'>Удалить</a>
  <% } else { %>
    <a href='/sing/copy/<%=sing._id%>'>Скопировать эту песню себе</a>
  <% } %>
  <div class="js-autoscroll">
    <span>Автопрокрутка: </span>
    | speed: <span class="js-autoscroll-velocity">0</span> |&nbsp;&nbsp;
    <a class="js-autoroll-faster" href="#">| + |</a>&nbsp;&nbsp;
    <a class="js-autoroll-slower" href="#">| - |</a>&nbsp;&nbsp;
    <a class="js-autoroll-stop" href="#">| STOP |</a>&nbsp;&nbsp;
    <a class="js-autoroll-pause" href="#">| PAUSE |</a>
    <script type="text/javascript">
      $(function() {
        var $fasterBtn = $('.js-autoroll-faster'),
            $slowerBtn = $('.js-autoroll-slower'),
            $stopBtn = $('.js-autoroll-stop'),
            $pauseBtn = $('.js-autoroll-pause'),
            $velocity = $('.js-autoscroll-velocity');
            rollVelocity = 0, step = 0, speed = 7, pause = false;
        
        rollVelocity = 0;
        setInterval(function() {
          step += rollVelocity/speed;
          if (!pause) $(document).scrollTop($(document).scrollTop() + Math.floor(step));
          step = step % 1;
        }, 30);
        $stopBtn.on('click', function() {
          rollVelocity = 0;
          $velocity.html(rollVelocity);
          return false;
        });
        $pauseBtn.on('click', function() {
          pause = !pause;
          $pauseBtn.html(pause ? '| RESUME |' : '| PAUSE |')
          return false;
        });
        $fasterBtn.on('click', function(event) {
          if (rollVelocity < 5) ++rollVelocity;
          $velocity.html(rollVelocity);
          return false;
        });
        $slowerBtn.on('click', function(event) {
          if (rollVelocity > 0) --rollVelocity;
          $velocity.html(rollVelocity);
          return false;
        });
      });
    </script>
  </div>
  <% if (sing.user_id == user.id) { %>
  	<br><BR>
  	Статус песни:
  	<% if (!sing.status) { %><span class='label label-default'><b>Не определен</b></span> \ <% } %>
  	<% if (sing.status=='no') { %> <b>Не выучена</b><% } else { %><a href='/sing/<%=sing._id%>/learn/no'>Не выучена</a><% } %> \ 
  	<% if (sing.status=='in') { %> <b>В процессе изучения</b><% } else { %><a href='/sing/<%=sing._id%>/learn/in'>В процессе изучения</a><% } %> \
  	<% if (sing.status=='yes') { %> <b>Выучена</b><% } else { %><a href='/sing/<%=sing._id%>/learn/yes'>Выучена</a><% } %>
  <% } %>
</div>

<div class='panel-body'>
	<pre>
<%-sing.text%>
	</pre>	
</div>

<div class='panel panel-default'>
	<div class='panel-heading'>
		Комментарии
	</div>
	<div class='panel-body'>
		<% if (comments.length==0) { %>
			<center><h3>Без комментариев</h3></center><br>
		<% } %>
		<%-partial('partials/comment', comments)%>

		<form role='form' method='POST' action="/sing/addcomment/<%=sing._id%>">
			<div class='form-group'>
				<label for='comment'>Добавить комментарий</label>
				<textarea name='text' id='comment' class='form-control'></textarea>
			</div>
			<button type='submit' class='btn btn-success'>Добавить</button>
		</form>
	</div>
</div>